* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Righteous', cursive;
    background: #252a34;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 *  #08d9d6
 *  #252a34
 *  #ff2e63
 *  #eaeaea
 */

